mat-form-field {
    width: 100%;
}

.half {
    width: 49%;
}

.last{ 
    margin-left: 35px;
}

mat-card {
    margin-top: 10px;
}

.cancel {
    position: absolute;
    right: 0;
    margin-right: 80px;
}